.homepage__container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.homepage__filters {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.homepage__filtername {
  display: flex;
}
.homepage__btn::before {
  content: "Dark";
}
.dark .homepage__btn::before {
  content: "Light";
}
